@import "base/resets";
@import "base/helpers";

@import "layout/header";
@import "layout/intro";

@import "components/button";
@import "components/services";
@import "components/card";
@import "components/features";
@import "base/typography";

// Variables
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.125rem;
}

section {
  padding: 1em;
}

img {
  margin: 1rem 0;
}
