*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.line::after {
  display: block;
  margin: 0.5em auto 0;
  content: "";
  height: 2px;
  width: 20%;
  background-color: #000;
}

.line--white::after {
  background-color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: 700;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: 300;
  color: #7d7987;
  line-height: 1.6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  padding: 0.5em;
}

.header__logo {
  margin: 0;
}

.hamburger__button {
  position: absolute;
  left: 0;
  top: 1em;
  transform: translateX(-100%);
  padding: 1.4em 0.5em;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #7d7987;
}

.hamburger {
  content: "";
  width: 2em;
  height: 3px;
  background-color: #fff;
  position: relative;
  display: block;
  transition: transform ease-in-out 350ms, opacity 200ms linear;
}
.hamburger:before {
  content: "";
  width: 2em;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 6px;
  transition: transform ease-in-out 350ms, opacity 200ms linear;
}
.hamburger:after {
  content: "";
  width: 2em;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 6px;
  transition: transform ease-in-out 350ms, opacity 200ms linear;
}

.navigation--open .hamburger {
  transform: rotate(45deg);
}

.navigation--open .hamburger::before {
  opacity: 0;
}

.navigation--open .hamburger::after {
  transform: rotate(90deg) translate(6px);
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  transform: translateX(100%);
  transition: transform 350ms ease-in-out;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1534;
  height: 100vh;
}

.nav__element {
  text-decoration: none;
}
.nav__element a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.nav__element a:hover {
  text-decoration: underline;
}

.navigation--open {
  transform: translateX(0);
}

.intro__image {
  max-width: 100%;
}

.information button {
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: 700;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: 300;
  color: #7d7987;
  line-height: 1.6;
}

.footer {
  background: linear-gradient(0.5turn, #67c3f3, #5a98f2);
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 50%;
}

.footer__information {
  order: 4;
}
.footer__information p {
  color: #fff;
}

.footer__list {
  color: #fff;
}
.footer__list ul {
  list-style: none;
  margin-bottom: 1.5em;
}

.list__header {
  margin-bottom: 1em;
  font-weight: 700;
}

.list__element {
  font-weight: 300;
}

.btn {
  background-color: #458ff6;
  padding: 0.75rem 1rem;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
}

.btn--ghost {
  outline: 2px solid #458ff6;
  offset: -2px;
  color: #458ff6;
  background-color: #fff;
}

.services {
  padding: 1em;
}
.services button {
  width: 100%;
}

.services__header {
  text-align: center;
}
.services__header::after {
  display: block;
  margin: 0.5em auto 0;
  content: "";
  height: 2px;
  width: 20%;
  background-color: #000;
}

.servrices__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 1rem;
}

.card__img {
  width: 15%;
}

.card__header {
  margin: 0.5em 0;
}

.features {
  margin-top: 2rem;
}

.feature__container {
  display: flex;
  flex-direction: column-reverse;
}
.feature__container:last-child {
  margin-top: 1rem;
}

.feature__text button {
  width: 100%;
}

.feature__header {
  text-align: center;
}

.opinions {
  padding: 2em;
  background: linear-gradient(0.25turn, #67c3f3, #5a98f2);
  color: #fff;
}

.opinions__header {
  color: #fff;
  text-align: center;
}
.opinions__header .line {
  background-color: #fff;
}

.opinion__author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.author__avatar {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 50%;
  border: 3px solid #fff;
}

.author__name,
.author__role {
  grid-column: 2/3;
  grid-row: 1;
}

.author__name {
  align-self: end;
}

.author__role {
  grid-row: 2/3;
  color: #fff;
  align-self: start;
}

.opinion__para {
  color: #fff;
}

.arrowNav {
  margin: 1em 0 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.leftArrow {
  position: relative;
  width: 28px;
  height: 4px;
  opacity: 0.5;
  background-color: #458ff6;
  transform: rotate(180deg);
}
.leftArrow::before, .leftArrow::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #458ff6;
  right: -1px;
}
.leftArrow::before {
  top: 4px;
  transform: rotate(-45deg);
}
.leftArrow::after {
  top: -4px;
  transform: rotate(45deg);
}

.rightArrow {
  position: relative;
  width: 28px;
  height: 4px;
  opacity: 0.5;
  background-color: #458ff6;
}
.rightArrow::before, .rightArrow::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #458ff6;
  right: -1px;
}
.rightArrow::before {
  top: 4px;
  transform: rotate(-45deg);
}
.rightArrow::after {
  top: -4px;
  transform: rotate(45deg);
}
.rightArrow::before, .rightArrow::after {
  right: -1px;
}
.rightArrow::before {
  top: 4px;
  transform: rotate(-45deg);
}
.rightArrow::after {
  top: -4px;
  transform: rotate(45deg);
}

.arrow--active {
  opacity: 1;
}

.dots {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #458ff6;
  opacity: 0.5;
}

.dot--active {
  opacity: 1;
}

.articles button {
  margin-top: 2em;
  width: 100%;
}

.article__image {
  border-radius: 1rem 1rem 0 0;
}

.article__text {
  padding: 0 1em;
}

.article__link {
  display: block;
  color: #458ff6;
  text-decoration: none;
}

.link__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.link__container .rightArrow {
  transform: scale(0.6) translateY(3px);
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.125rem;
}

section {
  padding: 1em;
}

img {
  margin: 1rem 0;
}
