@import "../base/colors";

.articles {
  button {
    margin-top: 2em;
    width: 100%;
  }
}

.article__image {
  border-radius: 1rem 1rem 0 0;
}
.article__text {
  padding: 0 1em;
}

.article__link {
  display: block;
  color: $clr-primary;
  text-decoration: none;
}
.link__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .rightArrow {
    transform: scale(0.6) translateY(3px);
  }
}
