@import "../base/colors";

.articles {
  button {
    margin-top: 2em;
  }
}
.article__header,
.articles__header {
  text-align: center;
}
.article__image {
  border-radius: 1rem 1rem 0 0;
  max-width: 70%;
  display: block;
  margin: 2em auto 1em;
}
.article__text {
  padding: 0 1em;
}

.article__link {
  display: block;
  color: $clr-primary;
  text-decoration: none;
}
.link__container {
  display: flex;
  justify-content: center;
  align-items: center;
  .rightArrow {
    transform: scale(0.6) translateY(3px);
  }
}

@media (min-width: 1000px) {
  .articles__container {
    display: flex;
    flex-direction: row;
    & > & {
      flex: 1 1 30%;
      height: 100%;
    }
  }
  .article__image {
    max-width: 100%;
  }
  .article__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
  }
  .article__header {
    font-size: 1.3125rem;
    text-align: start;
  }
}
