@import "../base/colors";

.services {
  padding: 1em;
}

.services__header {
  text-align: center;

  &::after {
    display: block;
    margin: 0.5em auto 0;
    content: "";
    height: 2px;
    width: 20%;
    background-color: $clr-dark;
  }
}
.servrices__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .services {
    margin: 0 3rem;
  }
  .servrices__container {
    flex-flow: row wrap;
  }
  .servrices__container > * {
    flex: 1 1 33%;
  }
  .services__para {
    margin: 3em;
    text-align: center;
  }
}
